/* Reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  line-height: 1.6;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}

/* Header and navigation */
header {
  background-color: #121212;
  color: #ffffff;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 1.5rem;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #5c6bc0;
}

/* Hero section */
.hero {
  background: linear-gradient(135deg, #121212 0%, #121212 100%);
  color: #ffffff;
  padding: 5rem 2rem;
  text-align: center;
}

.hero h1 {
  font-size: 3.75rem;
  line-height: 1;
  margin-bottom: 1rem;
  color: #ffffff;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.hero a {
  text-decoration: none;
  background-color: #5c6bc0;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero a:hover {
  background-color: #2c3e91;
}

/* Features section */
.features {
  padding: 4rem 2rem;
  background-color: #121212;
}

.features h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 700;
}

.features ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
}

.features li {
  background-color: #1e1e1e;
  padding: 2.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff; /* Changed text color to white */
}

.features li h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.features li p {
  font-size: 1rem;
  color: #ffffff;
}

/* Pricing section */
.pricing {
  background-color: #121212;
  padding: 4rem 2rem;
}

.pricing h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.plan-cards {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.plan-card {
  background-color: #1e1e1e;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.plan-card:hover {
  transform: scale(1.05);
}

.plan-card h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.price {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #3f51b5;
}

.plan-card ul {
  list-style: none;
  margin-bottom: 2rem;
}

.plan-card li {
  margin-bottom: 0.8rem;
}

.plan-card button {
  background-color: #3f51b5;
  color: #ffffff;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.plan-card button:hover {
  background-color: #2c3e91;
}

/* Contact section */
.contact {
  padding: 4rem 2rem;
  background-color: #121212;
}

.contact h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .font-bold {
    font-weight: 700;  
}

input,
textarea {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #ffffff;
}

button[type="submit"] {
  background-color: #3f51b5;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2c3e91;
}

/* Footer */
footer {
  background-color: #282c34;
  color: #ffffff;
  text-align: center;
  padding: 1.5rem;
  font-size: 1rem;
}

/* Utility classes */
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.tracking-tight {
  letter-spacing: -.025em;
}

.font-bold {
  font-weight: 700;
}

.text-4xl {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.max-w-4xl {
  max-width: 56rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.bg-primary_bg {
  --tw-bg-opacity: 1;
  background-color: rgb(14 16 20 / var(--tw-bg-opacity));
}

@media (min-width: 640px) {
  .sm\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}

/* Heading and margin resets */
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

*, :after, :before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

:after, :before {
  --tw-content: "";
}
